{% extends './base.html' %}

{% block title %}
<title>清脆的键盘声 修改密码 </title>
{% endblock %}

{% block style %}
<style>
    .errorlist {
        color: red;
    }
</style>
{% endblock style %}


{% block container  %}
<div class="container">
    <div class="row">
        <div class="col-md-2 col-md-offset-4 col-xs-6 col-xs-offset-2  col-sm-2 col-sm-offset-2">
            <h1><a href="{% url 'index' %}">放弃修改</a></h1>
            <h3>修改密码</h3>
            <form class="form" action="{% url 'password_change' %}" method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                {% for field in form %}
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
                {% if field.help_text %}
                <p class="help text-small text-muted">{{ field.help_text|safe }}</p>
                {% endif %}
                {% endfor %}
                <button type="submit" class="btn btn-primary btn-block">确认修改</button>
            </form>
        </div>
    </div>
</div>
{% endblock container %}



{% block footer %}

{% endblock footer %}