{% extends './base.html' %}

{% block title %}
<title>清脆的键盘声 关于我</title>
{% endblock title %}

{% block style %}
<style type="text/css">

</style>
{% endblock style %}

{% block header %}

{% endblock %}



{% block container %}
<div class="container">
    <div class="row">
        <p>
            ldddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddl
        </p>
    </div>
</div>
<hr>
<div class="container">
    <div class="col-sm-6 blog-main">
        <p>
            fdddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd
            fdddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd
            fdddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd
            fdddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd
            fdddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd
            fdddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd
            fdddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd
            fdddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd
            fdddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd
            fdddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd
            fdddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd
            fdddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd
            fdddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd
            fdddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd
        </p>
    </div>
    <div class="col-sm-6 blog-sidebar">
        <p>
            fdddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd
            fdddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd
            fdddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd
            fdddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd
            fdddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd
            fdddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd
            fdddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd
            fdddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd
            fdddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd
            fdddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd
            fdddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd
            fdddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd
            fdddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd
            fdddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd
        </p>
    </div>
</div>


<div class="row center-block">
    <div class="container">
        <div class="col-sm-3">
            <a href="http://www.baidu.com">
                <img class="img-responsive center-block" src="static/media/2018-04-24 20-27-34 的屏幕截图.png" alt="">
            </a>
        </div>
        <div class="col-sm-3">
            <a href="http://www.baidu.com">
                <img class="img-responsive center-block" src="static/media/2018-04-24 20-27-34 的屏幕截图.png" alt="">
            </a>
        </div>
        <div class="col-sm-3">
            <a href="http://www.baidu.com">
                <img class="img-responsive center-block" src="static/media/2018-04-24 20-27-34 的屏幕截图.png" alt="">
            </a>
        </div>
        <div class="col-sm-3">
            <a href="http://www.baidu.com">
                <img class="img-responsive center-block" src="static/media/2018-04-24 20-27-34 的屏幕截图.png" alt="">
            </a>
        </div>
    </div>
</div>

{% endblock container %}









