{% extends './base.html' %}

{% block title %}
<title>清脆的键盘声 关于我</title>
{% endblock title %}

{% block header %}

{% endblock %}



{% block container %}
<div class="container">
    <div class="row">
        <h3 class="col-sm-6 col-sm-offset-3">
            {% for vitae in vitae %}
            {{ vitae.vitaetitle }}
            {% endfor %}
        </h3>
    </div>
</div>
<hr>
<div class="container">
    <div class="col-sm-6 blog-main">
        <p>
            {% for vitae in vitae %}
            {{ vitae.vitaeleft }}
            {% endfor %}
        </p>
    </div>
    <div class="col-sm-6 blog-sidebar">
        <p>
           {% for vitae in vitae %}
            {{ vitae.vitaeright }}
            {% endfor %}
        </p>
    </div>
</div>


<div class="row center-block">
    <div class="container">
        {% for bottompicture in bottompicture %}
        <div class="col-sm-3">
            <a href="{{ bottompicture.contentlink }}" title="{{ bottompicture.imgname }}">
                <img class="img-responsive center-block" src="static/media/{{ bottompicture.images }}" alt="">
            </a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock container %}









