{% extends './base.html' %}

{% load static %}


{% block link %}

{% endblock link %}


{% block header %}
<div class="panel-default">
    <div id="myCarousel" class="carousel slide">
    <!-- 轮播（Carousel）指标 -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <!-- 轮播（Carousel）项目 -->
    <div class="carousel-inner">
        <div class="item active">
            {% for plo in photolbumone %}
            <img src="/static/media/{{ plo.image }}" alt="First slide">
            <div class="carousel-caption"><h3>{{ plo.imgtitle }}</h3></div>
            {% endfor %}
        </div>
        <div class="item">
            {% for plt in photolbumtwo %}
            <img src="/static/media/{{ plt.image }}" alt="Second slide">
            <div class="carousel-caption"><h3>{{ plt.imgtitle }}</h3></div>
            {% endfor %}
        </div>
        <div class="item">
            {% for plt in photolbumthree %}
            <img src="/static/media/{{ plt.image }}" alt="Third slide">
            <div class="carousel-caption"><h3>{{ plt.imgtitle }}</h3></div>
            {% endfor %}
        </div>
        <div class="item">
            {% for plf in photolbumfour %}
            <img src="/static/media/{{ plf.image }}" alt="Fourth slide">
            <div class="carousel-caption"><h3>{{ plf.imgtitle }}</h3></div>
            {% endfor %}
        </div>
    </div>
    <!-- 轮播（Carousel）导航 -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
</div>
{% endblock header %}


{% block blogmain %}
<div class="col-sm-8 blog-main">
    <div class="row">
        {% for article in article %}
        <div class="col-lg-4">
            <h2>{{ article.articletitle }}</h2>
            <p>{{ article.articlecontent }}</p>
            <p><a class="btn btn-default" href="{{ article.contentlink }}" role="button">查看详情 &raquo;</a></p>
        </div><!--/.col-xs-6.col-lg-4-->
        {% endfor %}
    </div><!--/row-->
</div><!-- /.blog-main -->
{% endblock blogmain %}



{% block blog-sidebar %}
<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
    <div class="sidebar-module sidebar-module-inset">
        <h1 class="logo"><a href="{% url 'index' %}">返回首页</a></h1>
        {% if user.is_authenticated %}
        <p>你已登录，欢迎你：<a href="#">{{ user.username }}</a></p>
        <button class="btn btn-default">
            <a href="{% url 'logout' %}?next={{ request.path }}">注销登录</a></button>
        <button class="btn btn-default"><a href="{% url 'password_change' %}?next={{ request.path }}">修改密码</a></button>
        {% else %}
            <button class="btn btn-default"><a href="{% url 'login' %}?next={{ request.path }}">登录</a></button>或者
            <button class="btn btn-default"><a href="{% url 'register' %}">注册</a></button></p>
        {% endif %}
    </div>
    <div class="sidebar-module">
    </div>
    <div class="sidebar-module">
    </div>
</div>
{% endblock blog-sidebar %}

