{% extends './base.html' %}


{% block header %}
<header class="page-header">

</header>
{% endblock header %}



{% block blogmain %}
<div class="col-sm-8 blog-main">
    <div class="blog-post">

    </div><!-- /.blog-post -->
    <div class="blog-post">

    </div><!-- /.blog-post -->

</div><!-- /.blog-main -->
{% endblock blogmain %}



{% block blog-sidebar %}
<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
    <div class="sidebar-module sidebar-module-inset">

    </div>
    <div class="sidebar-module">

    </div>
    <div class="sidebar-module">

    </div>
</div>
{% endblock blog-sidebar %}



{% block centerblock %}
<div class="row center-block">

</div>
{% endblock centerblock %}