{% extends './base.html' %}


{% block header %}
<header class="page-header">
gerregregreggreg
</header>
{% endblock header %}



{% block blogmain %}

{% endblock blogmain %}



{% block blog-sidebar %}

<div class="col-sm-8 blog-main">
    <div class="blog-post">
        <h1 class="col-sm-8 col-sm-offset-5">content title</h1>
        <div class="center-block">
            <p>ter() 函数用来生成迭代器
zip()拉链函数，生成一组新的组合
map()函数接收两个参数，一个是函数，一个是Iterable，map将传入的函数依次作用到序列的每个元素， 并把结果作为新的Iterator返回
orted() 函数对所有可迭代的对象进行排序操作
reverse() 函数用于反向列表中元素。
isinstance()判断一个对象是否是Iterable对象
sys.version
数学运算类
    abs()求绝对值
    complex()创建一个复数
    divmod(a,b)分别取商和余数(整形、浮            点型都可以)
    float([x])将一个字符串或数转换为        浮点数。如果无参数将返回0.0
    int(x[,base])将一个字符转换为int类型，base表示进制
    long([x[, base]]) 将一个字符转换为long类型
    pow(x, y[, z]) 返回x的y次幂
    range([start], stop[, step]) 产生一个序列，默认从0开始
    round(x[, n])  四舍五入
    sum(iterable[, start])  对集合求和
    oct(x)将一个数字转化为8进制
    hex(x)将整数x转换为16进制字符串
    bin(x)将整数x转换为二进制字符串
    bool([x])将x转换为Boolean类型</p>
            <img class="img-responsive" src="static/media/2018-05-03 22-18-47 的屏幕截图.png" alt="图1" title="图1">
            <h6 class="col-sm-8 col-sm-offset-5">图1 - python基础数据类型</h6>
        </div>
    </div><!-- /.blog-post -->
</div><!-- /.blog-main -->

<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
    <div class="sidebar-module">
        <div class="panel-group">
            <h4 class="col-sm-12 col-sm-offset-2 col-xs-12 col-xs-offset-3">Welcome:username</h4>
            <img class="img-responsive" src="static/media/2018-04-24 20-27-34 的屏幕截图.png" alt="">
        </div>
    </div>
    <hr>
    <div class="sidebar-module">
        <div class="panel-group">
            <h3 class="col-sm-12 col-sm-offset-3 col-xs-12 col-xs-offset-4">directory</h3>
        </div>
        <div class="panel-group">
            <ol>
                <li>python</li>
                <li>python</li>
                <li>python</li>
                <li>python</li>
                <li>python</li>
                <li>python</li>
                <li>python</li>
                <li>python</li>
                <li>python</li>
                <li>python</li>
                <li>python</li>
            </ol>
        </div>


    </div>
    <hr>
    <div class="sidebar-module">
        <img class="img-responsive" src="static/media/clicksound.jpg" alt="">
        <h4 class="col-sm-6 col-sm-offset-3 col-xs-11 col-xs-offset-4">官方微信</h4>
    </div>
</div>
{% endblock blog-sidebar %}



{% block centerblock %}
<div class="row center-block">
    <div class="col-sm-6 col-sm-offset-4 col-xs-11 col-xs-offset-1">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
{% endblock centerblock %}